/* testing */


p {
    color :burlywood;
}

.content h1 {
    background-color:rgb(19, 167, 110);
    background-blend-mode: color-burn;
    font-family:monospace;
  }

  .content p {
    text-decoration-color: darkgoldenrod;
    background-color: aqua;
    color: crimson;
    text-decoration-line: overline;
  }