/* CSS w/ bootstrap integration */

.header {
    font-size: 150%;
    word-spacing: 8px;
    color: white;
}

.hoverblue:hover {
    color: rgb(0, 0, 0) !important;
}

p {
    color :black;
}

#testid {
color: crimson;

}

#nav1
{  
    background-image: url(./background/redsky.JPG);
    background-repeat: no-repeat;
    background-size: 1450px 1500px;
    opacity: 0.93; 
    filter:(opacity=50);     
}