/* CSS w/ bootstrap integration */

.body {
    background image: url(./background/EpicTMPic.JPG);
}



.header {
    font-size: 150%;
    word-spacing: 8px;
    color: white;
}

.hoverblue:hover {
    color: rgb(0, 0, 0) !important;
}

p {
    color :#3c36fc;
    background-color:rgb(167, 255, 36);
}

#testid {
color: crimson;

}